
body {
    font-size: 1rem;
    text-align: center;
    font-family: serif;

}


.man:first-line {
    color: red;
    text-indent: 2rem;

}


.woman:first-line {
    color: red;text-indent: 1rem;

}
.child:first-line {
    color: red;text-indent: 1rem;

}