li {
    display: inline-block;
    list-style: none;
    border: 1px solid pink;
    padding: 2px;
    border-radius: 50px;
    margin-right: 5px;
}

a {
    text-decoration: none;
}
li:hover {
    background-color: green;
}

li:active {
    background-color: red;
}