.a1 {
    background-color: red;
    height: 100px;

}

.b1 {
    background-color: orange;
    height: 100px;
}

.c1 {
    background-color: yellow;
    height: 100px;
}

.d1 {
    background-color: green;
    height: 100px;
}

.e1 {
    background-color: blue;
    height: 100px;
}

.f1 {
    background-color: indigo;
    height: 100px;
}