div {
    border: 1px solid black;
    border-radius: 35%;
    display: inline-block;
    height: 60px;
    width: 90px;
}

.r {
    background-color: red;
}

.b {
    background-color: blue;
}
.y {
    background-color: yellow;
}
.g {
    background-color: green;
}