* {
    margin: 50px;
}

header {
    width: 400%;
    height: 200px;
    background-color: red;
}
section {
    width: 400%;
    height: 200px;
    background-color: green;
}

article {
    width: 100%;
    height: 50px;
    background-color: yellow;
}

aside, footer {
    width: 100%;
    height: 100px;
    background-color: green;
}





